
{% block file_group_widget %}
    {% if multiple == false %}
        {{ form_widget(form.children.files.0) }}
    {% else %}
        {% for file in form.children.files %}
            {{ form_widget(file) }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block upload_widget %}
    {% spaceless %}
        <div class="card upload_context">
            <div class="card-header">
                <div class="item-pill">
                    <span class="circle circle-green mr-2"> </span>
                    <span class="circle circle-orange mr-2"> </span>
                    <span class="circle circle-red"> </span>
                </div>
                <div class="item-progress">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

            <div class="card-body upload_area">
                {% if form.vars.data.fileGroup.files.0.path is empty %}
                    <svg class="svg-icon" viewBox="0 0 20 20">
                        <path fill="none"
                              d="M15.608,6.262h-2.338v0.935h2.338c0.516,0,0.934,0.418,0.934,0.935v8.879c0,0.517-0.418,0.935-0.934,0.935H4.392c-0.516,0-0.935-0.418-0.935-0.935V8.131c0-0.516,0.419-0.935,0.935-0.935h2.336V6.262H4.392c-1.032,0-1.869,0.837-1.869,1.869v8.879c0,1.031,0.837,1.869,1.869,1.869h11.216c1.031,0,1.869-0.838,1.869-1.869V8.131C17.478,7.099,16.64,6.262,15.608,6.262z M9.513,11.973c0.017,0.082,0.047,0.162,0.109,0.226c0.104,0.106,0.243,0.143,0.378,0.126c0.135,0.017,0.274-0.02,0.377-0.126c0.064-0.065,0.097-0.147,0.115-0.231l1.708-1.751c0.178-0.183,0.178-0.479,0-0.662c-0.178-0.182-0.467-0.182-0.645,0l-1.101,1.129V1.588c0-0.258-0.204-0.467-0.456-0.467c-0.252,0-0.456,0.209-0.456,0.467v9.094L8.443,9.553c-0.178-0.182-0.467-0.182-0.645,0c-0.178,0.184-0.178,0.479,0,0.662L9.513,11.973z"></path>
                    </svg>
                {% else %}
                    <img src="{{ form.vars.data.fileGroup.files.0.path }}"/>
                {% endif %}
                {{ form_widget(form.file) }}
                {{ form_widget(form.name) }}
                {{ form_widget(form.path) }}
            </div>
            <div class="card-footer">
                <p class="upload-complete alert alert-success">{{ 'message.upload.complete'|trans }}</p>
                <p class="upload-error alert alert-danger">{{ 'message.upload.error'|trans }}</p>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block collection__title %}
    <h2 class="profile--title">{{ label|trans({}, 'form') }}</h2>
{% endblock %}

{% block collection__widget %}
    <div class="collection collection--root" data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}" {% if form.vars.allow_add is defined %}data-adding="{{ form.vars.allow_add }}"{% endif %}>
        <div class="collection--content profile--items">
            {% for subForm in form %}
                {{ form_widget(subForm) }}
            {% endfor %}
        </div>
        <div class="collection--add"></div>
    </div>
{% endblock %}

{% block collection__entry__widget %}
    <div class="collection--item profile--item">
        <div class="card">
            <div class="card-header">
                {{ item_title|trans }} n°<span class="item--number"></span>
                <span class="collection--delete pull-right"></span>
            </div>
            <div class="card-body">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block skillGroups__collection__widget %}
    <div class="collection--skillGroups collection--root" data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}" {% if form.vars.allow_add is defined %}data-adding="{{ form.vars.allow_add }}"{% endif %}>
        <div class="collection--content--skillGroups profile--items">
            {% for subForm in form %}
                {{ form_widget(subForm) }}
            {% endfor %}
        </div>
        <div class="collection--add--skillGroups"></div>
    </div>
{% endblock %}

{% block skillGroups__collection__entry_widget %}
    <div class="collection--item skill--groups--item">
        <div class="card">
            <div class="card-header skill--groups--header">
                <div>
                    {{ form_widget(form.label) }}
                </div>
                <div>
                    <span class="collection--delete--skillGroups pull-right"></span>
                </div>
            </div>
            <div class="card-body">
                {{ form_widget(form.skills) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block skills__collection__widget %}
    <div class="collection--skills collection--root" data-prototype="{{ form_widget(form.vars.prototype)|e('html_attr') }}" {% if form.vars.allow_add is defined %}data-adding="{{ form.vars.allow_add }}"{% endif %} data-prototype_name="__skillcollection__">
        <div class="collection--content">
            {% for subForm in form %}
                {{ form_widget(subForm) }}
            {% endfor %}
        </div>
        <div class="collection--add"></div>
    </div>
{% endblock %}

{% block skills__collection__entry__widget %}
    <div class="skill--item">
        <div class="card">
            <div class="card-header">
                {{ item_title|trans }}
                <span class="collection--delete pull-right"></span>
            </div>
            <div class="card-body">
                <div>{{ form_widget(form.label) }}</div>
                <div>{{ form_widget(form.progression) }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _profile_schoolPaths_label %}
    {{ block('collection__title') }}
{% endblock %}

{% block _profile_schoolPaths_widget %}
    {{ block('collection__widget') }}
{% endblock %}

{% block _profile_schoolPaths_entry_widget %}
    {% set item_title = 'label.school_path.degree' %}
    {{ block('collection__entry__widget') }}
{% endblock %}

{% block _profile_professionnalExperiences_label %}
    {{ block('collection__title') }}
{% endblock %}

{% block _profile_professionnalExperiences_widget %}
    {{ block('collection__widget') }}
{% endblock %}

{% block _profile_professionnalExperiences_entry_widget %}
    {% set item_title = 'label.professionnal_experience.title' %}
    {{ block('collection__entry__widget') }}
{% endblock %}

{% block tags_label %}
    <h2 class="profile--title">{{ label|trans({}, 'form') }}</h2>
{% endblock %}

{% block _profile_skillGroups_label %}
    {{ block('collection__title') }}
{% endblock %}

{% block _profile_skillGroups_widget %}
    {{ block('skillGroups__collection__widget') }}
{% endblock %}

{% block _profile_skillGroups_entry_widget %}
    {{ block('skillGroups__collection__entry_widget') }}
{% endblock %}

{% block _profile_skillGroups_entry_skills_widget %}
    {{ block('skills__collection__widget') }}
{% endblock %}

{% block _profile_skillGroups_entry_skills_entry_widget %}
    {% set item_title = 'label.skill' %}
    {{ block('skills__collection__entry__widget') }}
{% endblock %}

{% block tags_widget %}
    <div class="tags--area">
        {{ form_widget(form.data) }}
        <div class="tags--inputs">
            <div class="tags--list">
            </div>
            <div class="tags--inp">
                {{ form_widget(form.front) }}
            </div>
        </div>
    </div>
{% endblock %}
