{% extends 'layout/layout.html.twig' %}

{% block page_title 'title.password_new'|trans() %}

{% block contentbody %}
    <div class="security-main-content">
        <div class="card security-main-content-item">
            <div class="card-header">
                <h1>{{ "title.password_new"|trans() }}</h1>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_row(form.plainPassword) }}
                {{ form_row(form.send) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% set name = 'user' %}