{% include 'blocks/flash_messages.html.twig' with {
    'class' : 'index'
    }
    only
%}
<main role="main" class="container-xl index-main-content" >
    <div class="index-main-content-item subject">
        <div class="subject-content">
            {{ "label.homepage.goal_site"|trans() }}
        </div>
    </div>
    <div class="index-main-content-item navigation">
        <div class="navigation-item find">
            <div class="find-item">
                <div class="card">
                    {{ render(controller(
                        'App\\Controller\\Security\\SecurityController::login'
                    )) }}
                </div>
            </div>
        </div>
        <div class="navigation-item profiles">
            <div class="row col-6 col-md-8 profiles-item my-carousel">
                {#<div class="my-carousel-item lead btn-display">
                    <div class="btn-item btn-item-left">
                        <a class="btn btn-danger" href="#postsCarousel" title="go back" data-slide="prev"><i class="fa fa-lg fa-chevron-circle-left"></i>&nbsp;</a>
                    </div>
                    <div class="btn-item btn-item-right">
                        <a class="btn btn-danger" href="#postsCarousel" title="more" data-slide="next"><i class="fa fa-lg fa-chevron-circle-right"></i></a>
                    </div>
                </div>
                #}
                <div data-bs-ride="carousel" id="postsCarousel" class="my-carousel-item carousel slide">
                    <div class="carousel-inner">
                        {% for p in profiles %}
                            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                <div class="card-profile">
                                    <div class="card-profile-header card-profile-header-blue">
                                        {{ p.job }}
                                    </div>
                                    <div class="card-picture">
                                        {#<span class="image--cover image--cover--blue">
                                            <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                                        </span>#}
                                        {% if p.profilePicture is not empty and p.profilePicture.files is not empty %}
                                            <img class="image--cover" src="{{ p.profilePicture.files.0.path }}" alt="{{ p.name ~ ' ' ~ p.surname }}">
                                        {% else %}
                                            <span class="image--cover image--cover--blue">
                                                <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                                            </span>
                                        {% endif %}
                                    </div>
                                                    <div class="card-profile-body card-profile-body-blue">
                                                        <p>{{ p.surname ~ ' ' ~ p.name }}</p>
                                                        <p>{% for tag in p.tags %}
                                                            <span class="badge badge-pill badge-primary">{{ tag.name }}</span>
                                                            {% endfor %}</p>
                                                        <span class="separator">
                                        </span>
                                                        <span>
                                        <a href="{{ path('one_profile', {'slug': p.slug}) }}" class="btn">
                                            {{ 'action.profile.go'|trans }}
                                        </a>
                                        </span>
                                    </div>
                                </div>
                                {#
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-5">
                                                {% if p.profilePicture is not empty %}
                                                    <img class="img-fluid" src="{{ p.profilePicture.files.0.path }}" alt="{{ p.name ~ ' ' ~ p.surname }}">
                                                {% endif  %}
                                            </div>
                                            <div class="col-7">
                                                {% for tag in p.tags %}
                                                    <span class="badge badge-pill badge-primary">{{ tag.name }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="{{ path('one_profile', {'slug': p.slug}) }}" target="_blank" class="card-link">{{ p.surname ~ ' ' ~ p.name }}</a></h5>
                                    </div>
                                </div>
                                #}
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#postsCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#postsCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>