{% extends 'layout/layout.html.twig' %}

{% block page_title 'title.profile'|trans() %}

{% block contentbody %}
    <div class="row py-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h1>{{ 'title.profile'|trans() }}</h1>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}

                    {% include 'form/profile/_main.html.twig'
                        with {
                            'surname': form.surname,
                            'name': form.name,
                            'birthDate': form.birthDate,
                            'gender': form.gender,
                            'profilePicture': form.profilePicture
                        }
                        only
                    %}
                    {% include 'form/profile/_strong_point.html.twig'
                        with {
                        'tags': form.tags
                    }
                        only
                    %}
                    {% include 'form/profile/_school_path.html.twig'
                        with {
                            'schoolPaths': form.schoolPaths
                        }
                        only
                    %}
                    {% include 'form/profile/_professionnal_experience.html.twig'
                        with {
                            'professionnalExperiences': form.professionnalExperiences
                        }
                        only
                    %}
                    {% include 'form/profile/_skill_group.html.twig'
                        with {
                        'skillGroups': form.skillGroups
                    }
                        only
                    %}
                    <button type="submit" class="btn btn-primary">{{ "action.profile.do"|trans() }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/profile.js') }}"></script>
{% endblock %}

{% set name = 'back' %}