{% extends 'layout/base.html.twig' %}

{% block body %}
    {% include 'blocks/header.html.twig' with {
        'user'  : app.user
    }
        only
    %}
    <div class="container-fluid wrapper">
        <div class="h1_container">
            <h1 class="h1__public">
                {{ profile.name }} {{ profile.surname }} <br> {{ profile.job }}
            </h1>
        </div>
        <div class="layout__first__level">
            <div class="layout__col3__1">
                <div class="cv__photo_and_skills">
                    <div>
                        <div class="cv__photo">
                            {% if profile.profilePicture is not empty and profile.profilePicture.files is not empty %}
                                <img src="/{{ profile.profilePicture.files.0.path }}" width="200"/>
                            {% else %}
                                <div class="image--area">
                                    <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                                </div>
                            {% endif %}
                            <ul>
                                {% if profile.birthDate is not empty %}
                                    <li>{{ 'label.age'|trans({'%count%': profile.birthDate|age}) }}</li>
                                {% endif %}
                                <li>{{ profile.city }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="cv__skills">
                        {% for tag in profile.tags %}
                            <span class="cv__badge">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% if profile.mail is not empty
                    or profile.phone is not empty
                    or profile.viadeo is not empty
                    or profile.linkedin is not empty
                %}
                    {% include 'blocks/public/profile/_contact.html.twig' with {
                        'mail': profile.mail,
                        'phone': profile.phone,
                        'viadeo': profile.viadeo,
                        'linkedin': profile.linkedin
                    }
                        only
                    %}
                {% else %}
                    <div class="cv__block"></div>
                {% endif %}
                {% if profile.situationState is not empty
                    or profile.situationGoal is not empty
                %}
                    {% include 'blocks/public/profile/_situation.html.twig' with {
                        'situationGoal': profile.situationGoal,
                        'situationState': profile.situationState
                    }
                        only
                    %}
                {% endif %}
                {% if profile.richTextHtml is not empty %}
                    {% include 'blocks/public/profile/_presentation.html.twig' with {
                        'richTextHtml': profile.richTextHtml
                    }
                        only
                    %}
                {% endif %}

            </div>
            <div class="layout__col3__2">
                {% if profile.professionnalExperiences is not empty %}
                    <div>
                        <h2>
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                            {{ 'label.profile.professionnals_experiences'|trans }}
                        </h2>
                        <div class="cv__sections">
                            {% for pe in profile.professionnalExperiences %}
                                <div class="cv__section">
                                    <h4>{{ pe.title }} </h4>
                                    <div class="cv__section__subtitle">{{ pe.society }}</div>
                                    <div class="cv__section__mention">
                                        {{ period_start(pe.end) }} {{ pe.start|localizeddate('none', 'none', null, null, 'MMMM Y') }}
                                        {% if pe.end is not empty %}
                                            {{ 'message.end'|trans }} {{ pe.end|localizeddate('none', 'none', null, null, 'MMMM Y') }}
                                        {% endif %}
                                    </div>
                                    {{ pe.richTextHtml|raw }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if profile.schoolPaths is not empty %}
                    <div>
                        <h2>
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            {{ 'label.profile.school_path'|trans }}
                        </h2>
                        <div class="cv__sections">
                            {% for sp in profile.schoolPaths %}
                                <div class="cv__section">
                                    <h4>{{ sp.title }}</h4>
                                    <div>{{ sp.richTextHtml|raw }}</div>
                                    <div>{{ sp.school }} </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="layout__col3__3">
                {% if profile.skillGroups is not empty %}
                    <h2>
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                        {{ 'label.skills'|trans }}
                    </h2>
                    <div class="cv__sections">
                        {% for sg in profile.skillGroups %}
                            <div class="cv__section">
                                <h4>{{ sg.label }}</h4>
                                <div class="cv__section__skills">
                                    {% for skill in sg.skills %}
                                        {% if skill.notEvaluated is same as(false) %}
                                            <div>{{ skill.label }}</div>
                                            <div class="progress">
                                                <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                                                     aria-valuenow="{{ skill.progression }}" aria-valuemin="0"
                                                     aria-valuemax="100" style="width:{{ skill.progression }}%">
                                                    {{ skill.progression }}%
                                                </div>
                                            </div>
                                        {% else %}
                                            <span><i class="fa fa-caret-right"
                                                     aria-hidden="true"></i> {{ skill.label }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if profile.leisure.richTextHtml is not empty %}
                    <h2>
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                        {{ 'label.profile.hobbies'|trans }}
                    </h2>
                    <div class="cv__sections">
                        <div class="cv__section">
                            <div class="cv__section__skills">
                                {{ profile.leisure.richTextHtml|raw }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}